@model CalcAgeModel
@{
    ViewData["Title"] = "Age Calculator";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Age Calculator</title>
</head>
<body>
    <div class="main_wrap">
        <div>
            <h1>How Old Are You?</h1>
            <p>Please, fill out the form below with the proper information.</p>
            <p>Make sure to follow these rules:</p>
            <ul>
                <li>Don't use numbers or special characters for your name</li>
                <li>Input a whole number for your birth year</li>
            </ul>
        </div>
        <form class="form_wrap" asp-action="Index" method="post">
            <div asp-validation-summary="All"></div>
            <div class="label-input_wrap">
                <label asp-for="Name">Name:</label>
                <input asp-for="Name" />
            </div>

            <div class="label-input_wrap">
                <label input asp-for="BirthYear">Birth Year:</label>
                <input input asp-for="BirthYear" />
            </div>

            <button type="submit">Calculate Age</button>
            <a asp-action="Index">Clear</a>
        </form>
        <div class="content_wrap">
            <p>Name: @ViewBag.Name</p>
            <p>Current Age: @ViewBag.CurrentAge</p>
            <p>Age on December 31st of this year: @ViewBag.Age</p>
        </div>
    </div>
</body>
</html>
